# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables


# Vite
*.js.map
*.css.map
