EMAIL_USER=vishalsuresh1975@gmail.com
EMAIL_PASS=eedd bdut ibka eahz
EMAIL_TO=recipient-email@gmail.com
PORT=5001

# Spotify API
SPOTIFY_CLIENT_ID=your_id_here
SPOTIFY_CLIENT_SECRET=your_secret_here
SPOTIFY_REFRESH_TOKEN=your_token_here
